th.count {
    width: 80px;
}

th.narrow {
    width: 50px;
}

.add-button {
    background-color: #27AE61;
}
.add-button:hover {
    background-color: #2CC86F;
}
.table-button {
    padding: 0.3em 0em;
}

input {
    width: 100%;
}

.bgimg {
    background-image: url('../img/bg.jpg');
    background-size: 100%;
}
.bgtop {
    background-position: top;
}
.bgbot {
    background-position: bottom;
}

.highlight {
    background-color: rgba(0, 0, 0, 0.3);
}