{{#attendances}}
  <tr>
    <td>{{name}}</td>
    <td>{{count}}</td>
    <td class="fit">
      <input type="reset" value="x" class="button table-button"
      onclick="remove_attendance({{id}},{{moment_id}})" title="Verwijder deze aanwezigheid">
    </td>
  </tr>
{{/attendances}}
<tr>
  <td class="fit">
    <input type="text" id="input_name_{{moment_id}}" class="col"
    placeholder="Plan hier je bezoek..." title="Geef aan wie jullie zijn">
  </td>
  <td>
    <select id="input_count_{{moment_id}}" title="Geef het aantal aanwezigen aan">
      <optgroup>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
    </select>
  </td>
  <td class="fit">
    <input type="submit" value="+" class="button add-button table-button"
    onclick="insert_attendance({{moment_id}})" title="Voeg deze aanwezigheid toe">
  </td>
</tr>

<script type="text/javascript">
attendance_counts[{{moment_id}}] = 0;
{{#attendances}}
  attendance_counts[{{moment_id}}] += {{count}};
{{/attendances}}
</script>